/* Estilos CSS General */
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: #091c2e;
    color: #fff;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.menu a:hover {
    background-color: #f4f4f4;
    color: #333;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    padding: 12px 24px; /* Aumenta el tamaño del botón para facilitar su uso en dispositivos móviles */
    font-size: 16px; /* Aumenta el tamaño de la fuente del botón para facilitar su lectura en dispositivos móviles */
}

section{
    padding: 10px 10px;
}

footer {
    color: #fff;
    display: flex;
    padding: 20px;
    font-size: 14px;
    text-align: left;
    background-color: #091c2e;
    justify-content: space-evenly;
    font-family: 'lato', sans-serif;
}

.space {
    margin-bottom: 40px;
}

.space-footer {
    margin-bottom: 10%;
}
/* Aplica estilos diferentes para dispositivos móviles usando @media queries */
@media (max-width: 768px) {
    .container {
        margin-top: 40px; /* Ajusta el margen superior para dispositivos móviles */
    }

    .menu {
        flex-direction: column; /* Cambia la dirección a vertical */
        align-items: center; /* Centra los elementos verticalmente */
    }

    /* Otros estilos específicos para dispositivos móviles */
}


/*Estilos CSS Index*/
.container {
    margin-top: 20px;
    max-width: 90%;
    width: 100%;
    overflow: hidden;
}

.subtitulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: 800;
}

.left {
    float: right;
    width: 100%;
    max-width: 30%;
    height: auto;
    overflow: hidden;
}

.left img,
.right img,
.left-box2 img,
.right-box2 img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.right {
    float: right;
    width: 100%;
    padding: 4px;
    max-width: 40%;
    height: auto;
    overflow: hidden;
}

.left-box2 {
    float: right;
    width: 100%;
    max-width: 40%;
    height: auto;
    overflow: hidden;
    padding: 20px;
}

.right-box2 {
    float: right;
    width: 100%;
    max-width: 30%;
    height: auto;
    overflow: hidden;
}

.banner {
    background-color: #3096b5;
    color: #fff;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Facs-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 800;
    text-align: center;
}

.Facs-sub-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
}

span {
    color: #333;
    font-size: 14px;
    font-weight: bold;
}

.image-container {
    width: 4cm;
    height: 4cm;
    object-fit: cover;
    margin-right: 10px;
}

/* Estilos CSS Category Options */
#add-category-input {
    padding: 8px 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-right: 10px;
    outline: none;
}

#add-category-btn {
    background-color: #6a30b5;
    border-radius: 4px;
    padding: 12px 24px; /* Aumenta el tamaño del botón para facilitar su uso en dispositivos móviles */
    color: white;
    cursor: pointer;
    border: none;
    font-size: 16px; /* Aumenta el tamaño de la fuente del botón para facilitar su lectura en dispositivos móviles */
}

#category-filter {
    padding: 8px 20px;
    border: 1px solid #6a30b5;
    border-radius: 4px;
    outline: none;
}

#category-container {
    display: inline-block;
    align-items: center;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.category-item {
    display: inline-block;
    background-color: #ffc107;
    padding: 2px;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.category-item span {
    padding: 2px 5px;
    margin-right: 5px;
}

.delete-category-btn {
    border: none;
    color: white;
    cursor: pointer;
    margin: 2px 5px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f44336;
}

/* Estilos CSS Tabla Inventario - One */
table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
    white-space: nowrap; 
}

th, td {
    border: 1px solid rgb(0, 0, 0);
    padding: 6px;
    min-width: 100px;
}

table, tfoot {
    border: none;
    padding: 8px;
}

.table-container {
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
    margin: 0 auto;
}

#delete-row, .delete-column{
    width: 10px;
    border: none;
    text-align: right;
    color: rgba(9, 28, 46, 0);
}

#add-row-btn, #add-column-btn, #calculate-btn {
    background-color: #308fb5;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 16px;
}


.inventory-table {
    margin: 10%;
    padding: 10%;
    overflow-x: hidden;
}

.delete-row-btn {
    border: none;
    color: white;
    cursor: pointer;
    margin: 2px 5px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f44336;
}

.delete-column-btn {
    border: none;
    color: white;
    cursor: pointer;
    margin: 2px 5px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f44336;
}

#total-quantity,
#total-price {
    border: none;
}

/* Export Options */
#export-btn {
    background-color: #30b551;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 16px;
}
