/* Variables CSS */
:root {
    --primary-color: #3096b5;
    --hover-color: #267a91;
    --background-color: #f8f9fa;
    --text-color: #36516c;
    --header-bg: #2b5882;
}

/* Estilos Generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow-x: hidden;
}

/* Header */
header {
    background: linear-gradient(217deg, rgba(0, 179, 105, 1), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(0, 86, 176, 1), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgb(11, 58, 108), rgba(0,0,255,0) 70.71%);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}

.menu {
    display: flex;
    gap: 15px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: var(--hover-color);
}

button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(48, 150, 181, 0.7); 
}

.content {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

/* Contenedores Generales */
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* Secciones */
.section {
    padding: 20px 60px;
    margin-bottom: 20px;
    background: #ffffff; 
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Banner */
.banner {
    background: linear-gradient(217deg, rgb(0, 179, 60), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(0, 179, 105, 1), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgb(0, 179, 60), rgba(0,0,255,0) 70.71%);
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

/* Tabla de Inventario */
.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background-color: var(--header-bg);
    color: white;
}

tfoot th {
    background-color: #f4f4f4;
    color: var(--header-bg);
}

.delete-row {
    background-color: rgba(9, 28, 46, 0);
    color: rgba(255, 255, 255, 0);
    border: none;
    padding: 0;
}

.delete-column {
    background-color: rgba(9, 28, 46, 0);
    color: rgba(255, 255, 255, 0);
    border: none;
}

.category-select {
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--background-color);
}

.category-select::-ms-expand {
    display: none;
}

/* Botón de eliminar fila */
.delete-row-btn {
    background-color: #e74c3c; 
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 3px;
    color: white;
}

.delete-row-btn:hover {
    background-color: #c0392b;
}

/* Categorías */
#category {
    margin-bottom: 20px;
}

#add-category-input {
    padding: 8px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.category-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.category-item {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #4ea69f96;
    padding: 8px;
    border-radius: 5px;
    margin: 5px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.delete-category-btn {
    background-color: rgba(231, 76, 60, 0.7);
    color: white;
    padding: 3px 8px;
    border-radius: 10px;
    font-size: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.delete-category-btn:hover {
    background-color: rgba(192, 57, 43, 0.9);
    transform: scale(1.05);
}

/* Responsividad */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .menu {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    button {
        width: 100%;
    }

    table {
        font-size: 14px;
    }
}

/* Estilos de las características */
.features{
    padding: 20px 15% 20px 15%;
}
.features h2 {
    text-align: center; /* Centra el texto */
    margin-bottom: 20px; /* Espacio inferior */
}

.features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feature {
    width: 48%;
    margin-bottom: 20px;
}
fe

.feature_right {
    flex: 1; /* Tomar espacio disponible */
    text-align: center; /* Centrar contenido */
}

.feature_right img {
    max-width: 20%; /* Imagen responsiva */
    height: auto; /* Mantener proporciones de la imagen */
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    margin-top: 10px;
}

.accordion-description {
    display: none;
    padding: 10px;
    background-color: #f1f1f1;
}

.accordion.active, .accordion:hover {
    background-color: #ccc;
}

/* Sección de FAQ */
.accordion {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
}

.accordion-button {
    color: #5e758d;
    background-color: #f1f1f1;
    cursor: pointer;
    padding: 10px;
    text-align: left;
    border: none;
    outline: none;
    transition: background-color 0.3s;
    width: 100%;
    font-size: 16px;
}

.accordion-button:hover {
    background-color: #ddd;
}

.accordion-content {
    padding: 0 10px;
    display: none;
    overflow: hidden;
    background-color: white;
}

.section {
    display: none;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    background: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background: #0056b3;
}

/* Clase para espacio horizontal */
.espacio-horizontal {
    width: 40px; 
    display: inline-block; 
}

.espacio-gigante {
    width: 1000px;
    display: inline-block; 
}

/* Footer */
footer {
    background: linear-gradient(217deg, rgba(0, 179, 105, 1), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(0, 86, 176, 1), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgb(11, 58, 108), rgba(0,0,255,0) 70.71%);
    color: white;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
